<h1>Resources</h1>
<a class="resourcelink" href="http://www.speech-language-therapy.com/index.php?option=com_content&view=article&id=33:brown&catid=2:uncategorised&Itemid=117" target="_blank">Link to Brown's Stages of Syntactic and Morphological Development

 </a>
 <a class="resourcelink" href=" http://www.asha.org/public/speech/development/" target="_blank">American Speech-Language-Hearing Association (see quick links below)</a>

<h2>Development Milestones</h2>
<h2 ng-click="babyShow=!babyShow">Show Milestones for Age Birth-1 Year</h2>

<div ng-show="babyShow">

    <h4>Hearing and Understanding</h4>

    <h5>Birth–3 Months</h5>

    <ul>
        <li>Startles to loud sounds </li>
        <li>Quiets or smiles when spoken to</li>
        <li>Seems to recognize your voice and quiets if crying</li>
        <li>Increases or decreases sucking behavior in response to sound</li>
    </ul>

    <h5>4–6 Months</h5>
    <ul>
        <li>Moves eyes in direction of sounds</li>
        <li>Responds to changes in tone of your voice</li>
        <li>Notices toys that make sounds</li>
        <li>Pays attention to music</li>
    </ul>

    <h5>7 Months–1 Year</h5>
    <ul>
        <li>Enjoys games like peek-a-boo and pat-a-cake</li>
        <li>Turns and looks in direction of sounds</li>
        <li>Listens when spoken to</li>
        <li>Recognizes words for common items like "cup", "shoe", "book", or "juice"</li>
        <li>Begins to respond to requests (e.g. "Come here" or "Want more?")</li>
    </ul>

    <h4>Talking</h4>

    <h5>Birth–3 Months</h5>
    <ul>
        <li>Makes pleasure sounds (cooing, gooing)</li>
        <li>Cries differently for different needs</li>
        <li>Smiles when sees you</li>
    </ul>

    <h5>4–6 Months</h5>

    <ul>
        <li>Babbling sounds more speech-like with many different sounds, including p, b and m</li>
        <li>Chuckles and laughs</li>
        <li>Vocalizes excitement and displeasure</li>
        <li>Makes gurgling sounds when left alone and when playing with you</li>
    </ul>

    <h5>7 Months–1 Year</h5>

    <ul>
        <li>
            Babbling has both long and short groups of sounds such as "tata upup bibibibi"
        </li>
        <li>
            Uses speech or noncrying sounds to get and keep attention
        </li>
        <li>
            Uses gestures to communicate (waving, holding arms to be picked up)
        </li>
        <li>
            Imitates different speech sounds
        </li>
        <li>
            Has one or two words (hi, dog, dada, mama) around first birthday, although sounds may not be clear
        </li>
    </ul>
</div>
</div>
<!-- ... -->
<h2 ng-click="oneShow=!oneShow">Show Milestones for Age 1 Year - 2 Years</h2>

<div ng-show="oneShow">

<h4>Hearing and Understanding	</h4>
<ul>

  <li>
    Points to a few body parts when asked.

  </li>

  <li>
    Follows simple commands and understands simple questions ("Roll the ball," "Kiss the baby," "Where's your shoe?").

  </li>

  <li>
    Listens to simple stories, songs, and rhymes.

  </li>

  <li>
    Points to pictures in a book when named.

  </li>
</ul>

<h4>Talking</h4>
<ul>

<li>
  Says more words every month.

</li>

<li>
  Uses some one- or two- word questions ("Where kitty?" "Go bye-bye?" "What's that?").

</li>

<li>
  Puts two words together ("more cookie," "no juice," "mommy book").

</li>

<li>
  Uses many different consonant sounds at the beginning of words.

</li>

</ul>

</div>
<!-- .... -->

<h2 ng-click="twoShow=!twoShow">Show Milestones for Ages 2 Years- 3 Years</h2>

<div ng-show="twoShow">
<h4>Hearing and Understanding	</h4>
<ul>
  <li>
    Understands differences in meaning ("go-stop," "in-on," "big-little," "up-down").

  </li>

  <li>
    Follows two requests ("Get the book and put it on the table").

  </li>
<li>
Listens to and enjoys hearing stories for longer periods of time
</li>
</ul>
<h4>Talking</h4>

    <ul>
      <li>
        Has a word for almost everything.
      </li>

      <li>
        Uses two- or three- words to talk about and ask for things.
      </li>

      <li>
        Uses k, g, f, t, d, and n sounds.
      </li>

      <li>
        Speech is understood by familiar listeners most of the time.
      </li>

      <li>
        Often asks for or directs attention to objects by naming them.
      </li>

      <li>
        Asks why?
      </li>

      <li>
        May stutter on words or sounds
      </li>
    </ul>

</div>

<!-- .... -->

<h2 ng-click="threeShow=!threeShow">Show Milestones for Ages 3 Years- 4 Years</h2>

<div ng-show="threeShow">
  <h4>Hearing and Understanding	</h4>
  <ul>
    <li>

  Hears you when you call from another room.
</li>

<li>

 Hears television or radio at the same loudness level as other family members.
 </li>
 <li>

  Understands words for some colors, like red, blue, and green
</li>
<li>

  Understands words for some shapes, like circle and square
</li>
<li>

  Understands words for family, like brother, grandmother, and aunt
</li>

</ul>

  <h4>Talking</h4>
  <ul>
<li>
  Talks about activities at school or at friends' homes.

</li>
<li>
  Talks about what happened during the day. Uses about 4 sentences at a time.

</li>
<li>
  People outside of the family usually understand child's speech.

</li>

<li>
  Answers simple "who?", "what?", and "where?" questions.

</li>
<li>
  Asks when and how questions.

</li>
<li>
  Says rhyming words, like hat-cat

</li>
<li>
  Uses pronouns, like I, you, me, we, and they

</li>
<li>
  Uses some plural words, like toys, birds, and buses

</li>
<li>
  Uses a lot of sentences that have 4 or more words.

</li>
<li>
  Usually talks easily without repeating syllables or words.

</li>

</ul>

</div>


<!-- ..... -->

<h2 ng-click="fourShow=!fourShow"> Show Milestones for Age 4 years -5 years</h2>

<div ng-show="fourShow">
  <h4>Hearing and Understanding	</h4>


<ul>
  <li>
    Understands words for order, like first, next, and last.

  </li>

  <li>
    Understands words for time, like yesterday, today, and tomorrow.

  </li>

  <li>
    Follows longer directions, like "Put your pajamas on, brush your teeth, and then pick out a book."

  </li>

  <li>
    Follows classroom directions, like "Draw a circle on your paper around something you eat."

  </li>

  <li>
    Hears and understands most of what is said at home and in school.

  </li>
</ul>

<h4>Talking</h4>
<ul>

<li>
  Says all speech sounds in words. May make mistakes on sounds that are harder to say, like l, s, r, v, z, ch, sh, th.

</li>

<li>
  Responds to "What did you say?"

</li>
<li>
  Talks without repeating sounds or words most of the time.

</li>

<li>
  Names letters and numbers.

</li>

<li>
  Uses sentences that have more than 1 action word, like jump, play, and get. May make some mistakes, like "Zach got 2 video games, but I got one."

</li>

<li>
  Tells a short story.

</li>

<li>
  Keeps a conversation going.

</li>

<li>
  Talks in different ways depending on the listener and place. May use short sentences with younger children or talk louder outside than inside.

</li>
</ul>

</div>



<div ng-click="fiveShow=!fiveShow" is-open="home.status.isopen" is-disabled="home.status.isFirstDisabled">
    <div ng-show="fiveShow">

      <h4>Hearing and Understanding	</h4>
<ul>
  <li>
    Understands words for order, like first, next, and last.

  </li>
  <li>
    Understands words for time, like yesterday, today, and tomorrow.

  </li>
  <li>
    Follows longer directions, like "Put your pajamas on, brush your teeth, and then pick out a book."

  </li>
  <li>
    Follows classroom directions, like "Draw a circle on your paper around something you eat."

  </li>
  <li>
    Hears and understands most of what is said at home and in school.

  </li>
</ul>
      <h4>Talking</h4>
<ul>
  <li>
    Says all speech sounds in words. May make mistakes on sounds that are harder to say, like l, s, r, v, z, ch, sh, th.
</li>
<li>


Responds to "What did you say?"</li>
<li>
  Talks without repeating sounds or words most of the time.

</li>
<li>
  Names letters and numbers.

</li>
<li>
  Uses sentences that have more than 1 action word, like jump, play, and get. May make some mistakes, like "Zach got 2 video games, but I got one."

</li>
<li>
  Tells a short story.

</li>
<li>
  Keeps a conversation going.

</li>
<li>
  Talks in different ways depending on the listener and place. May use short sentences with younger children or talk louder outside than inside.

</li>

</ul>
    </div>


</div>
