<h1>Patient Intake Form</h1>
<div data-ng-init="intake.getStudents()">
</div>

<form class="form-horizontal col-xs-12 col-md-6 col-md-offset-3 well" id="intakeform">
    <div class="form-group row">
        <label for="firstname" class="control-label col-xs-offset-1 col-xs-3">First Name:</label>
        <div class="col-xs-6">

            <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First name" maxlength="50" ng-model="intake.firstname" />
        </div>
    </div>

    <div class="form-group row">
        <label for="lastname" class="control-label col-xs-offset-1 col-xs-3">Last Name:</label>

        <div class="col-xs-6">

            <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last name" maxlength="50" ng-model="intake.lastname" />
        </div>
    </div>

    <div class="form-group row">
        <label for="dob" class="control-label col-xs-offset-1 col-xs-3">Date of Birth:</label>
        <div class="col-xs-4">

            <input type="date" id="dob" name="dob" class="form-control" placeholder="YYYY/MM/DD" maxlength="10" ng-model="intake.dob" style="background-color: #5cb85c" />
            <!-- {{intake.dob | date:'yyyy-MM-dd' }} -->


        </div>
    </div>

    <div class="form-group row">
        <label for="age" class="control-label col-xs-offset-1 col-xs-3">Age:</label>
        <div class="col-xs-2">

            <input type="number" id="age" name="age" class="form-control" size="3" min="0" max="99" ng-model="intake.age" placeholder="0-99" />

        </div>
    </div>






    <div class="form-group row">
        <label for="primarylanguage" class="control-label col-xs-offset-1 col-xs-3" ng-model="intake.primarylanguage">Primary Language:</label>
        <div class="col-xs-4">

            <select class="form-control" name="primarylanguage" style="width: auto;" ng-model="intake.primarylanguage">

    <option value="" selected="selected" >Select a language:</option>
    <option value="English">English</option>
    <option value="Spanish">Spanish</option>
  </select>
        </div>
    </div>


    <div class="form-group row">
        <label for="insurance" class="control-label col-xs-4">Area of Concern:</label>
        <div class="col-xs-4">

            <select class="form-control" name="concern" style="width: auto;" ng-model="intake.concerns_id">

        <option value="" selected="selected" >Select a concern</option>
        <option value="1">Language</option>

        <option value="2">Articulation</option>

        <option value="3">Pragmatics</option>

        <option value="4">Fluency</option>

        <option value="5">Voice</option>


      </select>
        </div>

    </div>


    </div>

    <div class="form-group">
        <label for="insurance" class="control-label col-xs-offset-1 col-xs-3">Insurance Info Received?</label>
        <div class="col-xs-8">

            <input type="checkbox" name="insurance" value="insurance" ng-model="intake.insurance"> {{intake.insurance?'Yes':'No'}}


        </div>
    </div>

    <div class="form-group">
        <label for="medical" class="control-label col-xs-offset-1 col-xs-3">Medical Provider Report Received?</label>
        <div class="col-xs-8">

            <input type="checkbox" name="medical" value="medical" ng-model="intake.medical"> {{intake.medical?'Yes':'No'}}

        </div>

    </div>

    <div class="form-group">
        <label for="appt" class="control-label col-xs-offset-1 col-xs-3">Evaluation Scheduled?</label>
        <div class="col-xs-8">

            <input type="checkbox" name="appt" value="appt" ng-model="intake.appointment"> {{intake.appointment?'Yes':'No'}}
        </div>

    </div>

    <div class="form-group">
        <label for="appt" class="control-label col-xs-offset-1 col-xs-3">Evaluation Complete?</label>
        <div class="col-xs-8">

            <input type="checkbox" name="apptcomplete" value="apptcomplete" ng-model="intake.appointmentcomplete"> {{intake.appointmentcomplete?'Yes':'No'}}
        </div>

    </div>

    <div class="form-group row">
        <label for="dob" class="control-label col-xs-offset-1 col-xs-3">Telephone Number:</label>
        <div class="col-xs-4">

            <input type="text" id="telephone" name="telephone" class="form-control" placeholder="612-555-5555" ng-model="intake.telephone" />

        </div>
    </div>

    <div class="form-group row">
        <label for="dob" class="control-label col-xs-offset-1 col-xs-3">Date of Contact:</label>
        <div class="col-xs-4">

            <input type="date" id="doc" name="doc" class="form-control" placeholder="YYYY/MM/DD" maxlength="10" ng-model="intake.doc" />

        </div>
    </div>

    <div class="form-group">
        <label for="datestimes" id="datestimes" class="control-label col-xs-offset-1 col-xs-10">Dates/Times Available</label>
    </div>


        <div class="col-xs-12">
            <label for="appt" id="timeslot" class="control-label col-xs-4">Mondays 8am-12pm</label>
            <input type="checkbox" name="mondaymorning" value="mondaymorning" ng-model="intake.mondaymorning">
          </div>

          <div class="col-xs-12">
              <label for="appt" id="timeslot" class="control-label col-xs-4">Mondays 12pm-4pm</label>
              <input type="checkbox" name="mondayafternoon" value="mondayafternoon" ng-model="intake.mondayafternoon">
            </div>

            <div class="col-xs-12">
                <label for="appt" id="timeslot" class="control-label col-xs-4">Mondays 4pm-6pm</label>
                <input type="checkbox" name="mondayevening" value="mondayevening" ng-model="intake.mondayevening">
              </div>

              <div class="col-xs-12">
                  <label for="appt" id="timeslot" class="control-label col-xs-4">Tuesdays 8am-12pm</label>
                  <input type="checkbox" name="tuesdaymorning" value="tuesdaymorning" ng-model="intake.tuesdaymorning">
                </div>

                <div class="col-xs-12">
                    <label for="appt" id="timeslot" class="control-label col-xs-4">Tuesdays 12pm-4pm</label>
                    <input type="checkbox" name="tuesdayafternoon" value="tuesdayafternoon" ng-model="intake.tuesdayafternoon">
                  </div>

                  <div class="col-xs-12">
                      <label for="appt" id="timeslot" class="control-label col-xs-4">Tuesdays 4pm-6pm</label>
                      <input type="checkbox" name="tuesdayevening" value="tuesdayevening" ng-model="intake.tuesdayevening">
                    </div>

                    <div class="col-xs-12">
                        <label for="appt" id="timeslot" class="control-label col-xs-4">Wednesdays 8am-12pm</label>
                        <input type="checkbox" name="wednesdaymorning" value="wednesdaymorning" ng-model="intake.wednesdaymorning">
                      </div>

                      <div class="col-xs-12">
                          <label for="appt" id="timeslot" class="control-label col-xs-4">Wednesdays 12pm-4pm </label>
                          <input type="checkbox" name="wednesdayafternoon" value="wednesdayafternoon" ng-model="intake.wednesdayafternoon">
                        </div>

                        <div class="col-xs-12">
                            <label for="appt" id="timeslot" class="control-label col-xs-4">Wednesdays 4pm-6pm</label>
                            <input type="checkbox" name="wednesdayevening" value="wednesdayevening" ng-model="intake.wednesdayevening">
                          </div>

                          <div class="col-xs-12">
                              <label for="appt" id="timeslot" class="control-label col-xs-4">Thursdays 8am-12pm</label>
                              <input type="checkbox" name="thursdaymorning" value="thursdaymorning" ng-model="intake.thursdaymorning">
                            </div>

                            <div class="col-xs-12">
                                <label for="appt" id="timeslot" class="control-label col-xs-4">Thursdays 12pm-4pm</label>
                                <input type="checkbox" name="thursdayafternoon" value="thursdayafternoon" ng-model="intake.thursdayafternoon">
                              </div>

                              <div class="col-xs-12">
                                  <label for="appt" id="timeslot" class="control-label col-xs-4">Thursdays 4pm-6pm</label>
                                  <input type="checkbox" name="thursdayevening" value="thursdayevening" ng-model="intake.thursdayevening">
                                </div>

                                <div class="col-xs-12">
                                    <label for="appt" id="timeslot" class="control-label col-xs-4">Fridays 8am-12pm</label>
                                    <input type="checkbox" name="fridaymorning" value="fridaymorning" ng-model="intake.fridaymorning">
                                  </div>

                                  <div class="col-xs-12">
                                      <label for="appt" id="timeslot" class="control-label col-xs-4">Fridays 12pm-4pm</label>
                                      <input type="checkbox" name="fridayafternoon" value="fridayafternoon" ng-model="intake.fridayafternoon">
                                    </div>

                                    <div class="col-xs-12">
                                        <label for="appt" id="timeslot" class="control-label col-xs-4">Fridays 4pm-6pm</label>
                                        <input type="checkbox" name="fridayevening" value="fridayevening" ng-model="intake.fridayevening">
                                      </div>
            <!-- <label for="appt" class="control-label col-xs-3">Mondays 12pm-4pm</label>
            <input type="checkbox" name="mondayafternoon" value="mondayafternoon" ng-model="intake.mondayafternoon">
          </div>
<div>

            <label for="appt" class="control-label col-xs-3">Mondays 4pm-6pm</label>
            <input type="checkbox" name="mondayevening" value="mondayevening" ng-model="intake.mondayevening">
        </div>
    </div> -->


    <div class="form-group">
        <label for="intake.notes" class="control-label col-xs-offset-2 col-xs-2">Notes:</label>

        <textarea type="text" name="info" class="form-control" rows="5" ng-model="intake.notes" /></textarea>
    </div>
    <div>

        <button id="intakesubmit" class="btn btn-default pull-right  col-xs-offset-1" ng-click="intake.postStudent(intake.firstname, intake.lastname, intake.age, intake.dob, intake.doc, intake.insurance, intake.medical, intake.appointment, intake.appointmentcomplete, intake.primarylanguage, intake.concerns_id, intake.notes, intake.mondaymorning, intake.mondayafternoon, intake.mondayevening, intake.tuesdaymorning, intake.tuesdayafternoon, intake.tuesdayevening, intake.wednesdaymorning, intake.wednesdayafternoon, intake.wednesdayevening, intake.thursdaymorning, intake.thursdayafternoon, intake.thursdayevening, intake.fridaymorning, intake.fridayafternoon, intake.fridayevening, intake.telephone)">Submit</button>
    </div>


    <!-- <button id="librarysubmit" class="btn btn-default  col-xs-offset-1 " ng-click="library.getLibrary()">Submit</button> -->
</form>
<button id="agecalc" class="btn btn-success" ng-click="intake.calcAge(intake.dob)">Calculate Age as of Today</button> {{intake.agetoday}}
