<h1>Test Library</h1>

<div class="col-xs-offset-3 col-xs-10" data-ng-init="library.getLibrary()">
</div>



<table class = "librarytable">
  <tr>
    <th style="width:350px">
        Name
    </th>
    <th style="width:80px">
        Available
    </th>
    <th style="width:60px">
        Check In/Out
    </th>
    <th style="width:40px">
        Comment
    </th>
  </tr>
    <tr ng-repeat="lib in library.Array track by $index" >


        <td id="libraryname">{{lib.name}}</td>

        <td ng-class="{avail: lib.available==false}">
{{lib.available?'Yes':'No'}}

          <!-- {{library.Answer}} -->

        </td>
      </td>
        <td>

            <button class="btn btn-default" ng-click="library.checkoutTest(lib.id, lib.available, lib.comments)" class=btn btn-outline-info"  col-xs-offset-1"></button>
        </td>
        <td class="col-xs-5">
            <input type="text" id="info" name="info" class="form-control" style= "background-color: #e2ecf6"; placeholder="Initials and date checked out" ng-model = "lib.comments"/>

<!-- {{lib.comments}} -->
        </td>
</tr>
</table>
