/* styles */
*{

background-color: papayawhip;

}
label {
  text-align: left;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


/*#DC9F11 yellow*/
/*#646464
#4791CE;
#7F7F7F
ddd*/
/*
#F57C33*/
